:root {
  /* BACKGROUND COLORS */
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);

  /* FONT COLORS */
  --dark-blue: hsl(212, 21%, 14%);
  --grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  background-color: var(--cream);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}

.product-img {
  width: 100%;
}

.product-card {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 9px;
  max-width: 95vw;
  margin: 1.2rem auto;
  overflow: hidden;
}

.text-box {
  padding: 1.1rem;
  font-family: "Montserrat", sans-serif;
}

.perfume {
  font-size: 0.7rem;
  font-weight: 500;
  color: var(--grayish-blue);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin-bottom: 1rem;
}

.heading {
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1;
  margin-bottom: 1.2rem;
}

.product-description {
  font-size: 0.9rem;
  line-height: 1.4;
  font-weight: 500;
  color: var(--grayish-blue);
  margin-bottom: 1.6rem;
}

.price-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 1rem;
}

.discount-price {
  color: var(--dark-cyan);
  font-size: 2.3rem;
  font-family: "Fraunces", sans-serif;
}

.normal-price {
  color: var(--grayish-blue);
  font-size: 0.9rem;
  text-decoration: line-through;
}

.btn:link,
.btn:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  background-color: var(--dark-cyan);
  text-align: center;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  color: var(--white);
  padding: 1rem 1.6rem;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  color: var(--white);
  background-color: hsl(158, 36%, 24%);
}

.attribution {
  text-align: center;
  font-size: 0.8rem;
  color: #000;
}

.link:link,
.link:visited {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

.link:hover,
.link:active {
  color: #000;
}

@media (min-width: 48em) {
  .product-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    max-width: 35rem;
  }

  .perfume {
    font-size: 0.8rem;
    margin-bottom: 1.2rem;
  }

  .heading {
    font-size: 2rem;
  }

  .product-description {
    font-size: 0.8rem;
    line-height: 1.5;
  }

  .text-box {
    padding: 1.8rem;
  }
}
